<div class="col-3 aside">
<!--  -->
<div class="corona-update">
  <h4>COVID-19 Update</h4>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <div class="d-block w-100">
        <h2>Total Confirmed</h2>
        <h5>Coming soon!!!</h5>
    </div>
  </div>
  <div class="carousel-item">
    <div class="d-block w-100">
        <h2>Total Recovered</h2>
        <h5>Coming soon!!!</h5>
    </div>
  </div>
  <div class="carousel-item">
    <div class="d-block w-100">
        <h2>Total Death</h2>
        <h5>Coming soon!!!</h5>
    </div>
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon nxt-btn" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next " href="#carouselExampleControls" role="button" data-slide="next">
  <span class="carousel-control-next-icon nxt-btn" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
</div>
<div class="market-today">
  <h4>Market Today</h4>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <div class="d-block w-100">
        <h2>Index</h2>
        <h5>Coming soon!!!</h5>
    </div>
  </div>
  <div class="carousel-item">
    <div class="d-block w-100">
        <h2>Top Gainers</h2>
        <h5>Coming soon!!!</h5>
    </div>
  </div>
  <div class="carousel-item">
    <div class="d-block w-100">
        <h2>Top Losers</h2>
        <h5>Coming soon!!!</h5>
    </div>
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon nxt-btn" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next " href="#carouselExampleControls" role="button" data-slide="next">
  <span class="carousel-control-next-icon nxt-btn" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
</div>
<div class="subscribe">
  <h3 class="sub-form-heading">Subscribe Here   <i class="fas fa-angle-down"></i></h3>
  <form class="email-box"action="index.html" method="post">
    <input type="email" name="email" class="form-control sub-control" placeholder="email">
    <button type="button" class="btn btn-secondary btn-sm btn-lg" name="button">subscribe</button>
  </form>
</div>
</div>
