<div class="foot">
  <div class="footer-content">
    <h2>NewsLite</h2>
    <p>
      This NewsLite website is featured to show top-twenty headlines. <br>
      You can read the news by category or search substring in search bar.
      Newspapers are tutors as well as informers. So, Read news anytime
      anywhere with NewsLite.
    </p>
  </div>
  <div class="footer-link">
      <h3>APIs</h3>
      <li>
        <ul>
          <a href="https://newsapi.org/">News Api</a>
        </ul>
        <ul>
          <a href="https://www.npmjs.com/package/covid19-api">Covid19-Api</a>
        </ul>
        <ul>
          <a href="https://www.npmjs.com/package/stock-alert">stock-alert</a>
        </ul>
      </li>
  </div>
  <p class="copyright">© 2020 copyright: NewsLite</p>
</div>
