
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
  $(window).scroll(function(){
    if( $(document).scrollTop()>100){
       $(".contact-us").fadeIn('slow');
       $(".top").fadeIn('slow');
     }
     else{
       $(".contact-us").fadeOut('fast');
       $(".top").fadeOut('fast');
     }
 });
//  $("body").ready(function() {
//      $(".info").fadeIn('fast');
// });
 $(".sub-form-heading").click(function(){
   $(".email-box").slideToggle();
 });
 // $(".close-btn").click(function(){
 //   $(".info").fadeOut('fast');
 // });
</script>
</body>
</html>
      <!-- $(".aside").addClass("asideOnScroll").delay(800); -->
