/* font-family: 'Balsamiq Sans', cursive;
font-family: 'Ceviche One', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Shadows Into Light', cursive; */
.nav-ul{
  margin-left: auto!important;
}
nav{
  padding: 3rem;
}
.navbar-brand{
  font-size: 4rem;
  font-family: 'Ceviche One',cursive;
}
.container-fluid{
  margin-top: 1rem;
}
.main-container{
  padding: 0 2rem;
}
.aside{
  /* top:0; */
  height:100%;
  position: fixed;
  right:0;
  transition: 0.5;
}
.asideOnScroll{
  top:0;
}
.corona-update,.market-today{
  position: relative;
  width:100%;
  height: 150px;
  border-radius: 20px;
  border-width: thin;
  border-style: solid;
  box-shadow: 10px 5px gray;
}
.market-today{
  margin-top:3rem;
}
.nav-link{
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5rem;
}
.corona-update h4,.market-today h4{
  background-color: #0275d8;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #f7f7f7;
}
.d-block{
  text-align: center;
}
.main-container h1{
    color: #0275d8;
    font-family: 'Permanent Marker', cursive;
}
.news-main{
  margin: 1rem 0;
  height: 180px;
}
.news-main h4{
  font-family: 'Balsamiq Sans',cursive;
}
.news-main p{
  font-family: 'Open Sans Condensed';
  font-size: 20px;
}
.main-img{
  height:150px;
  width:200px;
  float: left;
  /* padding: 10px; */
  border-style:solid;
  border-width: medium;
  margin-right: 10px;
  opacity: 0.9;
}
/* .news-main p{
  border-width: medium;
  border-left-width: 2px;
  border-color: skyblue;
} */
a{
  color:#0275d8;
}
hr{
  background-color:#0275d8;
}
.btn{
  margin:2rem 0;
}
.contact-us{
  text-align: center;
  display: none;
  position:fixed;
  right:110px;
  top:30px;
}
.fab,.fas{
  cursor: pointer;
}
.nxt-btn{
    background-color:#0275d8;
}
.subscribe{
  text-align:center;
  margin-top: 3rem;
}
.subscribe h4{
  background-color: #0275d8;
  color:#f7f7f7;
  padding: 0.2rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}
.email-box{
  position: relative;
  bottom: 7px;
  border-style: solid;
  border-width: thin;
  overflow-x: auto;
  height: 180px;
  padding: 20px;
  text-align: left;
}
.aside form{
  margin: 0;
  width: 80%;
  margin: 0 auto;
  box-shadow: 10px 5px gray;
  display: none;
  border-top-color:#0275d8;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.sub-btn{
  margin-top: 0;
}
.sub-control{
  width: 90%;
  margin:10px auto 0 auto;
}
.a-top-btn{
  color:#f7f7f7;
}
.a-top-btn:hover{
  color:#000;
}
.top{
  font-size: 30px;
  color:#f7f7f7;
  background-color:#0275d8;
  border-style: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: -1;
  display: none;
}
